*{
    margin: 0;
    box-sizing: border-box;
}

.page{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.cover{
    background-color: white;
    width: 30em;
    height: 35em;
    position: relative;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.550em rgb(10, 156, 156);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.alt-login{
    width: 80%;
    height: 3em;
    display: flex;
    justify-content: space-around;
}

.alt-login div{
    width: 45%;
    height: 90%;
    border-radius: 0.25em;
    background-color: black;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.google{background-image: url(google.png);}
.facebook{ background-image: url(fb.jpg);}
input {
    border: none;
    background-color: rgb(299, 226, 226);
    height: 4em;
    width: 80%;
    border-radius: 0.25em;
    text-align: center;
}
input:focus{
    outline-color: skyblue;
}

.login-btn{
    width: 40%;
    height: 3em;
    background-color: rgb(19, 76, 99);
    display: flex;
    justify-content: center;
    align-items: center;
       border-radius: 10px;
}

.text{
    position: relative;
    bottom: -2em;
}